
.jodit-container.jodit-theme-dark .jodit-wysiwyg {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .jodit-container.jodit-theme-dark .jodit-toolbar__box {
    background-color: #333333;
  }
  
  .jodit-container.jodit-theme-dark .jodit-toolbar-button {
    color: #ffffff;
  }
  
  .jodit-container.jodit-theme-dark .jodit-toolbar-button:hover:not([disabled]) {
    background-color: #4a4a4a;
  }